body{
    background-color: var(--#FFFFFF--);
    color: #434455;
    font-size: 14px;
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
}

:root{

}
header{
    font-weight: 500;
    font-size: 16px;
}

header ul{
    color: #2E2F42;
    font-weight: 500;
    font-size: 16px;

}

ul{
    list-style-type: none;
}

address{
    color: #434455;
}

h3{
    color: #2E2F42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}

header a{
    color: #2E2F42;
    text-decoration: none;
}


.logo{
  font-family: 'Ralewey', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: #4d5ae5;

}

.stud{
    color: #2E2F42;
}

.menu{
    
}

.menu a:hover{
    color: #404BBF;
    text-decoration: underline;
}

.menu a:active{
    color: #404BBF;
}


 ul>li button{
    background-color: #E7E9FC;
    color: #4D5AE5;
    border: 1px solid #E7E9FC;
    font-weight: 700;
    list-style: none;
}

.but{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--#4d5ae5--);
    background-color: var(--#F4F4FD--);
    cursor: pointer;

}

.list li button:active{
    background: #F4F4FD;
    color: #2E2F42;
    text-decoration: underline;
}

.list li button:hover{
    background: #404BBF;
    color: #FFFFFF;
    text-decoration: underline;
}
