@font-face{
    font-family: "Roboto", sans-serif;
    src: url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&family=Roboto:ital,wght@0,400;0,500;1,700&display=swap");
    src: url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,700&display=swap");
}

body {
    background-color:var(--#FFFFFF--);
    color: #434455;
    font-size: 14px;
    line-height: 1.5;
    font-family: "Roboto", sans-serif;
}

:root{

}
header{
    font-weight: 500;
    font-size: 16px;
}

.list{
    list-style: none;

}

header ul{
    color: #2E2F42;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.02em;

}


ul{
    list-style-type: none;
}

address{
    color: #434455;
}

.zag{
    color:var(--#2E2F42--);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

header a{
    color: #2E2F42;
    text-decoration: none;
}


.list .log{
  font-family: 'Ralewey', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color:var(--#4d5ae5--);
  background-color: var(--#F4F4FD--);

}

.stud{
    color:var(--#2E2F42--);
}

.menu{

}

.menu a:hover{
    color: #404BBF;
    text-decoration: underline;
}

.menu a:active{
    color: #404BBF;
}

.add{


}

 ul>li button{
    background-color: #E7E9FC;
    color: #4D5AE5;
    border: 1px solid #E7E9FC;
    font-weight: 700;
    list-style: none;
}

.but{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--#4d5ae5--);
    background-color: var(--#F4F4FD--);
    cursor: pointer;
    list-style: none;

}

.list li button:active{
    background: #F4F4FD;
    color: #2E2F42;
    text-decoration: underline;
}

.list li button:hover{
    background: #404BBF;
    color: #FFFFFF;
    text-decoration: underline;
}

.list li button:focus{
    background-color: #404BBF;

}

.par{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:var(--#434455--);
}

.list .link{
    text-decoration: none;
}

.fut{
    background: var(--navyblue, #2E2F42);
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--);
}